/* Style général pour les cartes */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Effet au survol de la carte */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Boutons avec couleurs du logo */
.btn {
    width: 100%;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-modifier {
    background-color: #003D73;
    color: white;
    margin-bottom: 10px;
}

.btn-changer-mot-de-passe {
    background-color: #003D73;
    color: white;
}

/* Effet au survol des boutons */
.btn:hover {
    transform: translateY(-2px);
    background-color: #002A57; /* Couleur plus foncée pour un effet de survol */
}

/* Personnalisation des titres et des labels */
.profile-name {
    color: #0066cc;
}

.profile-address {
    color: #999;
}

.details-title {
    color: #0066cc;
}

.details-label {
    color: #0066cc;
}

/* Style de la carte de profil */
.profile-card {
    background-color: #f0f5ff;
}

/* Style de la carte des détails utilisateur */
.details-card {
    background-color: #ffffff;
}
