<div class="row mb-2 p-2 border bg-white shadow-sm">
  <!-- Détails article -->
  <div class="col-md-3 mb-1 mt-1 border-right">
      <div class="row text-center">
          <div class="col-md-12 font-weight-bold">Code Article</div>
      </div>
  </div>

  <div class="col-md-3 mb-1 mt-1 border-right">
      <div class="row text-center">
          <div class="col-md-12 font-weight-bold">Désignation</div>
      </div>
  </div>

  <div class="col-md-2 mb-1 mt-1 border-right">
      <div class="row text-center">
          <div class="col-md-12 font-weight-bold">Quantité</div>
      </div>
  </div>

  <div class="col-md-2 mb-1 mt-1 border-right">
      <div class="row text-center">
          <div class="col-md-12 font-weight-bold">Prix Unitaire</div>
      </div>
  </div>

  <div class="col-md-2 mb-1 mt-1">
      <div class="row text-center">
          <div class="col-md-12 font-weight-bold">
              Prix Total <small>(Quantité * Prix Unitaire)</small>
          </div>
      </div>
  </div>
</div>
