<div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Code Article</th>
          <th scope="col">Désignation</th>
          <th scope="col">Quantité</th>
          <th scope="col">Prix Unitaire</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>{{ ligneCommande.article?.codeArticle }}</td>
          <td>{{ ligneCommande.article?.designation }}</td>
          <td>{{ ligneCommande.quantite }}</td>
          <td>{{ ligneCommande.prixUnitaire }}</td>
          <td>{{ ligneCommande.prixUnitaire && ligneCommande.quantite ? +ligneCommande.prixUnitaire * +ligneCommande.quantite : '' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  