<div class="sidebar">
  <div class="sidebar-header">
    <img src="assets/logo.png" alt="MTS Plus Logo" class="sidebar-logo">
    <h2 class="sidebar-title">MTS Plus</h2>
  </div>

  <ul class="sidebar-menu">
    <li *ngFor="let menu of menuProperties" class="menu-item">
      <button 
        class="menu-btn" 
        type="button" 
        data-bs-toggle="collapse" 
        [attr.data-bs-target]="'#collapse' + menu.id" 
        aria-expanded="false" 
        [attr.aria-controls]="'collapse' + menu.id">
        <i class="{{menu.icon}}"></i>&nbsp; {{menu.titre}}
      </button>
      <div id="collapse{{menu.id}}" class="collapse submenu">
        <ul>
          <li *ngFor="let sousMenu of menu.sousMenu">
            <a href="javascript:void(0);" class="submenu-link" (click)="navigate(sousMenu)">
              <i class="{{sousMenu.icon}}"></i>&nbsp; {{sousMenu.titre}}
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>

