/* Sidebar container */
.sidebar {
  width: 250px;
  height: 100vh; /* Hauteur de la fenêtre */
  background-color: #dceeff; /* Fond uniforme */
  padding: 15px;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  position: fixed; /* Fixe la sidebar à gauche de la page */
  top: 0; /* Positionne la sidebar en haut de la page */
  left: 0; /* Positionne la sidebar à gauche */
  z-index: 999; /* Garantit que la sidebar soit au-dessus des autres éléments */
  border-radius: 10px; /* Coins arrondis */
  border-bottom: 4px solid #515050; /* Ligne en bas */
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px; /* Espace sous l'entête */
}

.sidebar-logo {
  width: 60px; /* Ajuster la taille du logo */
  height: 60px;
  border-radius: 50%; /* Pour un logo rond */
  margin-right: 15px; /* Espacement */
  transition: transform 0.3s ease;
}

.sidebar-logo:hover {
  transform: scale(1.1); /* Agrandir légèrement au survol */
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  color: #2c3e50; /* Couleur plus sombre pour un meilleur contraste */
  letter-spacing: 1px; /* Ajouter un espacement pour un effet moderne */
}

/* Menu styles */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 15px;
}

/* Menu button */
.menu-btn {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

.menu-btn:hover {
  background-color: #c7dbfd;
  color: #09192b;
  transform: scale(1.25); /* Légère augmentation de taille pour effet interactif */
}

/* Submenu styles */
.submenu {
  padding-left: 20px;
  display: none; /* Cacher par défaut */
  transition: all 0.3s ease-in-out; /* Transition fluide */
  max-height: 0;
  overflow: hidden;
}

.submenu.show {
  display: block;
  opacity: 1;
  max-height: 200px; /* Ajustez la hauteur maximale pour plus de flexibilité */
}

.submenu-link {
  padding: 8px 15px;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}

.submenu-link:hover {
  background-color: #ddeeff;
  color: #212f3f;
}

.submenu-link.active {
  background-color: #007bff;
  color: white;
}
