<div class="row mb-3 mr-0 custom-border p-2 align-items-center">
    <!-- Image du produit -->
    <div class="col-md-1 custom-border-right text-center">
        <img src="assets/produit.png" class="img-fluid" alt="Produit">
    </div>

    <!-- Détails du client -->
    <div class="col-md-5 custom-border-right">
        <div class="client-info">
            <div class="row mb-1">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">{{ commandeClient.client?.nom }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-11">{{ commandeClient.client?.prenom }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
                <div class="col-md-11">{{ commandeClient.client?.numTel }}</div>
            </div>
        </div>
    </div>

    <!-- Détails de la commande -->
    <div class="col-md-3 custom-border-right">
        <div class="commande-info">
            <div class="row mb-1">
                <div class="col-md-1"><i class="fas fa-qrcode blue-color"></i></div>
                <div class="col-md-11">{{ commandeClient.code }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-md-1"><i class="fas fa-calendar-check blue-color"></i></div>
                <div class="col-md-11">{{ commandeClient.dateCommande }}</div>
            </div>
            <div class="row mb-1">
                <div class="col-md-1"><i class="fas fa-cart-arrow-down blue-color"></i></div>
                <div class="col-md-11">{{ commandeClient.etatCommande }}</div>
            </div>
        </div>
    </div>

    <!-- Boutons d'action -->
    <div class="col-md-3">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn-link" >
                    <i class="fas fa-pencil-alt blue-color"></i>&nbsp;Modifier
                </button>
            </div>
            <div class="col-md-6 text-center">
                <button type="button" class="btn btn-link">
                    <i class="fas fa-trash-alt blue-color"></i>&nbsp;Supprimer
                </button>
            </div>
        </div>
    </div>
</div>
