
<div class="row py-3 border-bottom align-items-center">
  <!-- Barre de recherche -->
  <div class="col-md-8">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Recherche" aria-label="Recherche" aria-describedby="search-addon">
      <div class="input-group-append">
        <span class="input-group-text" id="search-addon"><i class="fas fa-search"></i></span>
      </div>
    </div>
  </div>

  <!-- Informations utilisateur -->
  <div class="col-md-4 d-flex justify-content-end align-items-center">
    <span class="mr-2 font-weight-bold">Bonjour, Nermine</span>
    <a href="javascript:void(0);" class="d-flex align-items-center">
      <img src="/assets/logo.png"  alt="Profil" width="60" height="60"/>
    </a>
  </div>
</div>
