<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Commande client</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-action-button
      [isImporterVisible]="false"
       (clickEvent)="goToNouvelleCommande()"
       ></app-action-button>
    </div>
  </div>
  
  <!-- Liste des commandes avec accordéon -->
  <div class="col m-3">
    <div class="" id="accordionExample">
      <div class="accordion-item" *ngFor="let cmd of listeCommandes">
        <h2 class="accordion-header" >
          <button class="accordion-button" type="button" 
                  data-bs-toggle="collapse" 
                  [attr.data-bs-target]="'#collapseOne'+cmd.id" 
                  aria-expanded="false" 
                  [attr.aria-controls]="'collapseOne'+cmd.id">
            <app-deatils-commande-client [commandeClient]="cmd"></app-deatils-commande-client>
          </button>
        </h2>
        <div id="collapseOne{{cmd.id}}" 
             class="accordion-collapse collapse" 
             
             data-bs-parent="#accordionExample">
          <div class="accordion-body" style="max-height: 200px; overflow-y: scroll;">
            <div class="card-body">
              <app-details-commande 
                *ngFor="let ligne of mapLignesCommande.get(cmd.id)" 
                [ligneCommande]="ligne">
              </app-details-commande>
            </div>
          </div>
          <!-- Footer de la commande avec nombre de lignes et total -->
          <div class="accordion-footer card-footer" style="background-color: rgb(207, 202, 202);">
            <div class="row">
              <div class="col-md-6 text-left">
                <h5>{{ mapLignesCommande.get(cmd.id)?.length || 0 }} Articles Commandés</h5>
              </div>
              <div class="col-md-6 text-left">
                <h5>Total commande : {{ calculerTotalCommande(cmd.id) }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pagination si la liste des commandes est non vide -->
<div class="row mb-3" *ngIf="listeCommandes.length">
  <div class="col-md-12 text-center">
    <app-pagination></app-pagination>
  </div>
</div>
