<!-- Section principale : Commande clients / fournisseurs -->
<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Commande client</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-action-button
      [isImporterVisible]="false"
       (clickEvent)="goToNouvelleCommande()"></app-action-button>
    </div>
    
    
  </div>
  
  <div class="col m-3" *ngFor="let cmd of listeCommandes">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <app-deatils-commande-client></app-deatils-commande-client>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body" style="max-height: 300px; overflow-y: scroll;">
            <!-- Détails de la commande -->
            <app-details-commande ></app-details-commande>
            
          </div>
          <div class="accordion-footer card-footer" style="background-color: rgb(207, 202, 202);">
            <div class="row">
              <div class="col-md-6 text-left"><h5>{{mapLignesCommande.get(cmd.id).length}} Articles Commandés</h5></div>
              <div class="col-md-6 text-left"><h5>Total commande : {{ calculerTotalCommande(cmd.id) }}</h5></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3" *ngIf="listeCommandes.length">
  <div class=" col-md-12 text-center">
    <app-pagination></app-pagination>
  </div>
</div>
